<!DOCTYPE html>
<html>
  <head>
    <title>ラーメン探訪記</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <script src="https://kit.fontawesome.com/c579d0a523.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand ml-auto" href="/">
          <%= image_tag "Logo.jpg", width: '100px', class: "img-fluid" %>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class='nav-item'>
                <%= link_to 'ラーメン一覧', admin_reviews_path, class: 'btn btn-outline-dark mr-1' %>
              </li>
              <li class='nav-item'>
                <%= link_to '会員一覧', admin_users_path, class: 'btn btn-outline-dark mr-1' %>
              </li>
              <li class='nav-item'>
                <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' %>
              </li>

            <% elsif user_signed_in? %>
              <li class="text-secondary mr-5 mt-2">ようこそ、<%= current_user.name %>さん！</li>
              <li class="nav-item">
                <%= link_to 'マイページ', mypage_path, class: 'btn btn-outline-dark mr-1' %>
              </li>
              <li class="nav-item">
                <%= link_to '投稿', new_review_path, class: "btn btn-outline-dark mr-1" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ラーメン一覧', reviews_path, class: "btn btn-outline-dark mr-1" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-dark mr-1" %>
              </li>


            <% else %>
              <li class="nav-item">
                <%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-dark mr-1" %>
              </li>

              <li class="nav-item">
                <%= link_to '新規登録', new_user_registration_path, class: "btn btn-outline-dark mr-1" %>
              </li>

              <li class="nav-item">
                <%= link_to 'ラーメン一覧', reviews_path, class: "btn btn-outline-dark mr-1" %>
              </li>

              <li class="nav-item">
                <%= link_to 'About', about_path, class: "btn btn-outline-dark" %>
              </li>

              <li class="nav-item">
                <%= link_to 'ゲストログイン', user_guest_sign_in_path, method: :post, class: "btn btn-outline-dark" %>
              </li>
            <% end %>
          </ul>
        </div>
          <div class="collapse navbar-collapse" id="search">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <form class="form-inline">
                  <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </li>
          　</ul>
          </div>
      </nav>
    </header>
  <main>
    <% if flash[:notice] %>
      <div class="flash-notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </main>
    <footer class="fixed-bottom text-center bg-warning pt-4">
  <div class="container">
    <p style="color: #aaa;">&copy; ラーメン探訪記</p>
  </div>
</footer>
  </body>
</html>